{% extends "base.html" %}

{% block body %}
	<div id="content">
        <form id="search_form" method="POST" action="/search">
            <input name="search_box" id="search_box" type="text" />
            <input name="search_button" id="search_button" type="submit" value="Search"/>
            {% if logged_in %}
            <input name="index_button" id="index_button" type="button" value="Index"/>
            {% endif %}
        </form>
    </div>

{#    <script type="text/javascript">#}
{#        $(document).ready(function() {#}
{#            $("#search_button").click(function(){#}
{#                var data = $("#search_box").val();#}
{#                $.ajax({#}
{#                    url : "/search",#}
{#                    type: "POST",#}
{#                    data : data,#}
{#                    success: function(data, textStatus, jqXHR)#}
{#                    {#}
{#                        //data - response from server#}
{#                        alert(data);#}
{#                    },#}
{#                    error: function (jqXHR, textStatus, errorThrown)#}
{#                    {#}
{##}
{#                    }#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}


{% endblock %}