{% extends "base.html" %}

{% block body %}
	
	<section class="loginform cf">  
		<form name="login" action="/login" method="POST" accept-charset="utf-8">  
		    <ul>  
		        <li><label for="useremail">Email</label>  
		        <input type="text" name="email" placeholder="email" required></li>  
		        <li><label for="password">Password</label>  
		        <input type="password" name="password" placeholder="password" required></li>  
		        <li><input type="submit" value="Login"></li>  
		    </ul>  
		</form>  
		<form action="/signup" method="GET">
			<input type="submit" value="Sign Up" accept-charset="utf-8">
		</form>
	</section>  
{% endblock %}