<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">RoblySearch</h1>
        <p class="splash-subhead">
            Want. Get.
        </p>
    
    <!-- search form -->
        <form class="pure-form" id="search_form" action="/search" method="post">
            <input name="search_box" id="search_box" type="text" /><br />
            <input name="search_button" class="pure-button pure-button-primary"
                   id="search_button" type="submit" value="Search"/>
            {% if logged_in %}
            <button name="index_button" class="pure-button pure-button-primary"
                    id="index_button" type="submit" value="Index" onclick="form.action='/index_website'">
                Index
            </button>
            {% endif %}
        </form>
        <!-- end search form -->
    </div>
</div>