{% extends "base.html" %}

{% block body %}
	<section class="loginform cf">  
		<form name="login" action="/create_new_user" method="POST" accept-charset="utf-8">  
		    <ul>  
		        <li><label for="email">Email</label>  
		        <input type="email" name="email" placeholder="your@email.com" required></li>  
		        <li><label for="password">Password</label>  
		        <input type="password" name="password" placeholder="password" required></li>  
		        <li><label for="name">Name</label>  
		        <input type="text" name="name" placeholder="Earthworm Jim" required></li>
		        <li>  
		        <input type="submit" value="Request To Become a Member">
		        </li>  
		    </ul>  
		</form>  
		<form action="/login" method="GET">
			<input type="submit" value="Already a Member?" accept-charset="utf-8">
		</form>
	</section>  
{% endblock %}