{% extends "base.html" %}

{% block body %}
<div id="content">
    <p align="right"><a href="/">Home</a> &nbsp; <a href="/logout">Logout</a></p>
	<div id="mainCol" class="fix"><a name="main"></a>
        <div class="post">
            <div class="postMeta"><span class="date">Authorization Error</span></div>
            <h2>Permission Denied</h2>
            <h4>You must be a {{ usertype }} to access this page</h4>
            <div class="entry">
                <p>Sorry. You are trying to access a web page without proper authorisation.</p>
                <p>You are currently logged in as <b>'{{ username }}'</b>, and this account doesn't have permission to access the information.</p>
                <p>You can head back to the main page <a href="{{ index_url }}">here</a></p>
            </div>
        </div>
    </div>
<div id="content">
{% endblock %}